.mainwriting {
	text-align: center;
	font-size: xx-large;
	align: center;
	width: 100%;
}

.subinfo {
	background-color: #ddeedd;
	width: 100%;
}

.subinfo .title {
	background-color: #ccddcc;
	font-weight: bold;
	padding-left: 5px;
	padding-right: 5px;
	width: 100%;
}

.subinfo .contents {
	background-color: #ddeedd;
	padding: 5px;
	width: 100%;
}
