table {
	margin: 0px;
	padding: 0px;
}

tr {
	margin: 0px;
	padding: 0px;
}

td {
	margin: 0px;
	padding: 0px;
}

.subinfo {
	background-color: #ddeedd;
	width: 100%;
}

.subinfo .title {
	background-color: #ccddcc;
	font-weight: bold;
}

.subinfo .contents {
	background-color: #ddeedd;
}

.notes {
	width: 100%;
	padding: 5px;
	background-color: #ffff88;
}
