.mainwriting {
	text-align: center;
	font-size: xx-large;
	align: center;
	width: 100%;
}

.subinfo {
	background-color: #ddeedd;
	width: 100%;
}

.subinfo .title {
	background-color: #ccddcc;
	font-weight: bold;
}

.subinfo .contents {
	background-color: #ddeedd;
}
