*~
*.swp
*.os
*.o
moc_*
.sconsign.dblite
qrc_*
tags
*.session
tagainijisho_resource.rc
install.exe
Makefile
object_script.tagainijisho.Release
object_script.tagainijisho.Debug
tagainijisho.app
i18n/*.qm
tagainijisho.pro.user
install
build*
jmdict.db
kanjidic2.db
tagainijisho
3rdparty/
ui_*.h
*.a
*.so
*.so.*
*.pro.user
*.pyc
credentials.txt
CMakeCache.txt
CMakeFiles/
CPackConfig.cmake
CPackSourceConfig.cmake
cmake_uninstall.cmake
*.db
cmake_install.cmake
src/CMakeFiles/
src/cmake_install.cmake
src/tagaini_config.h
src/core/jmdict/build_jmdict_db
src/core/kanjidic2/build_kanji_db
src/core/tatoeba/build_tatoeba_db
src/core/tests/liststests
src/core/tests/orderedtreedbtests
src/core/tests/orderedtreetests
src/gui/tests/guitests
src/sqlite/tests/sqlitetests
doc/install.html
doc/manual.html
doc/quickstart.html
*.txt.user
*.kdev4
*.kdev_include_paths
pack/archlinux/pkg
pack/archlinux/src
pack/archlinux/*.tar.gz
pack/archlinux/*.tar.xz
