*~
*.os
*.o
moc_*
.sconsign.dblite
qrc_*
release
tagainijisho_resource.rc
install.exe
debug
Makefile
Makefile.Debug
Makefile.Release
object_script.tagainijisho.Release
object_script.tagainijisho.Debug
tagainijisho.app
i18n/*.qm
tagainijisho.pro.user
install
build
jmdict.db
kanjidic2.db
tagainijisho
3rdparty/
ui_*.h
src/core/libtagaini-core.a
src/core/libtagaini-core.so
src/core/libtagaini-core.so.1
src/core/libtagaini-core.so.1.0
src/core/libtagaini-core.so.1.0.0
*.pro.user
src/core/jmdict/JMdictDefs.cc
src/core/jmdict/JMdictDefs.h
src/sqlite/libsqlite3.a
*.pyc
credentials.txt

