*~
*.swp
*.os
*.o
moc_*
.sconsign.dblite
qrc_*
tags
*.session
tagainijisho_resource.rc
install.exe
Makefile
object_script.tagainijisho.Release
object_script.tagainijisho.Debug
tagainijisho.app
i18n/*.qm
tagainijisho.pro.user
install
build
jmdict.db
kanjidic2.db
tagainijisho
3rdparty/
ui_*.h
src/core/libtagaini-core.a
src/core/libtagaini-core.so
src/core/libtagaini-core.so.1
src/core/libtagaini-core.so.1.0
src/core/libtagaini-core.so.1.0.0
*.pro.user
src/sqlite/libsqlite3.a
*.pyc
credentials.txt
CMakeCache.txt
CMakeFiles/
CPackConfig.cmake
CPackSourceConfig.cmake
cmake_uninstall.cmake
core
jmdict-en.db
kanjidic2-en.db
cmake_install.cmake
src/CMakeFiles/
src/cmake_install.cmake
src/tagaini_config.h
src/core/libtagaini_core.a
src/gui/libtagaini_gui.a
src/sqlite/libtagaini_sqlite.a
src/core/jmdict/build_jmdict_db
src/core/kanjidic2/build_kanji_db
src/core/jmdict/libtagaini_core_jmdict.a
src/core/kanjidic2/libtagaini_core_kanjidic2.a
src/core/tests/liststests
src/core/tests/orderedtreedbtests
src/core/tests/orderedtreetests
src/gui/jmdict/libtagaini_gui_jmdict.a
src/gui/kanjidic2/libtagaini_gui_kanjidic2.a
src/gui/tests/guitests
src/sqlite/tests/sqlitetests
doc/install.html
doc/manual.html
doc/quickstart.html
*.txt.user
